@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Francisco</h1>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/francisco-santillana/">Francisco's LinkedIn Profile</a></p>
</div>
